.drawer-main{
    height: 100vh;
    width: 12vw;
    background-color: #131391;
}
.drawer-main .logo {
    width: 12vw;
    height: 7vh;
    margin-top: 7px;
    margin-left: 3px;
}
#name {
    text-transform: capitalize;
    color: #FFFF;
    font-size: 35px;
    padding: 5px 0px 0px 4px;
    font-weight: bold;
    margin-left: 3px;
    
}
.drawer-content {
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-top: 60px;
    display: flex;
    align-items: center;
}
.btn{
    width: 12vw;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.selectedBtn{
    font-size: 28px;
}
.selectedBtn .icon{
    color: #ffff;
    width: 85%;
    display: flex;
    justify-content: center;
}
.selectedBtn .icon:hover{
    color:#BCBCD3 ;
}

/* .selectedBtn .sideAnim .navCircle{
    width: 13px;
    height: 13px;
    background-color: purple;
    border-radius: 30px;
} */

.selectedBtn .sideAnim{        
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:-3px;
}
.unselected .sideAnim{
    visibility: hidden;
}

.exit{
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
}
.exit button{
    width: 40px;
    height: 40px;
}
.exit .icon{
    margin-right: 30px;
}

/* for icons imported from fontawesome , add this className : "icon" */
.icon{
    color: #BCBCD3;
}
.icon:hover {
    color: #ffff;
}



/* media queries */
@media screen and (max-width:1375px){
    #name{
        font-size: 20px;
    }
}