.bgguide{
    width: 85vw;
    background:radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
    align-items: center;
    display: flex;
    flex-direction: column;
}
.boxguide{
    border-radius: 20px;
    width: 77vw;
    background-color: white;
    padding: 34px 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 9px 10px #8547d3;
    font-size: 26px;
    font-weight: bold;
}
.title{
    margin-top: 22px;
}