#bg{
    width: 85vw;
    background:radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.heading{
    width: 72vw;
    background-color: #F5F5FD;
    height: 8vh;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center

}
.heading .title{
    width: 30vw;
    background-color: #E9E9FA;
    color: #17171F;
    font-family: Inter;
    height: 5vh;
    margin: 5px 5px ;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 20px;
}
.circle {
    background-color: red;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    margin: 4px 9px;
}
.heading .time{
    width: 9vw;
    background-color: #4D4B70;
    color: rgb(238, 238, 238);
    height: 7vh;
    margin: 5px 5px ;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    font-size: 25px;
}
.leave{
    display: flex;
    flex-direction: row;
}
.sendStream {
    width: 9vw;
    background-color: #7a2cae;
    color: rgb(238, 238, 238);
    height: 4.5vh;
    margin: 5px 6px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 32px;
    font-size: 17px;
}

.call {
    width: 6vw;
    background-color: #25c005;
    color: rgb(238, 238, 238);
    height: 4.8vh;
    margin: 5px;
    border-radius: 9px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    font-size: 17px;
}
#call{
    height: 117%;
    width: 156%;
}
.heading .leave .btn{
    width: 5vw;
    /* background-color: rgb(255, 2, 2); */
    background-color: #cc0707;
    color: rgb(255, 255, 255);
    height: 5vh;
    margin: 5px 5px ;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
    /* border: 1px solid black; */
    font-size: 16px;
}
.body{
    display: flex;
    flex-direction: row;
}
.videobig {
    width: 48.3vw;
    height:77.5vh;
    position: relative;
    background-color: #F5F5FD;
    margin: 20px 0px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}
.userCam{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0;
    border-radius: 20px;
}
.vid{
    border-radius: 20px;
}
.videosmall {
    width: 10vw;
    height: 16vh;
    background-color: rgb(11, 23, 48);
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;
    z-index: 2;
    position: absolute;
    border: 2px solid black;
    overflow: hidden;
}
.sound img{
    width: 3vw;
    height: 7vh;
    margin: 5px 10px;
    border-radius: 54px;
}
.subtitle {
    width: 53vw;
    background-color: #393760;
    height: 10vh;

    border-radius: 20px;
    display: flex;
    align-items: center;
}
.text{
    margin-left: 12px;
    margin-right: 12px;
    color: white;
    font-weight: bold;
    color: white;
    font-size: 18px;
}
.right {
    width: 22.5vw;
    height: 77.5vh;
    background-color: #F5F5FD;
    margin-top: 20px;
    margin-left: 18px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right .head {
    font-size: 20px;
    color: white;
    height: 3vh;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 12px;
    display: none;      /* chatbox head gone*/
}
.oldchat {
    width: 21.3vw;
    height: 69vh;
    border-radius: 18px;
    margin-top: 14px;
}

.swich {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    display: inline-flex;
    gap: 2px;
    justify-content: center;
    padding: 8px;
    position: relative;
    margin-top: 0px;
    
  }
  
  .swich .group {
    height: 32px;
    position: relative;
    width: 137px;
  }
  
  .swich .overlap-group {
    background-color: #8871e6;
    border-radius: 6px;
    height: 32px;
    position: relative;
    width: 135px;
  }
  
  .swich .text-wrapper {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
    white-space: nowrap;
  }
  
  .swich .overlap-wrapper {
    height: 32px;
    margin-right: -2px;
    position: relative;
    width: 136px;
  }
  
  .swich .overlap {
    background-color: #fff;
    border-radius: 6px;
    height: 32px;
    position: relative;
    width: 134px;
  }
  
  .swich .div {
    color: #BCBCD3;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
    white-space: nowrap;
  }
.curr_chat {
    margin-top: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    background-color: #FFFFFF;
    border-radius: 14px;
}
.curr_chat input {
    width: 16vw;
    height: 5vh;
    border-radius: 10px;
    padding: 1px 8px;
    background-color: #FFFFFF;
    color: white;
    font-size: 17px;
    margin: 2px;
}
.send{
    display: contents;
}
.curr_chat img{
    width: 2.5vw;
    height: 5vh;
    border-radius: 7px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* media queries */
@media screen and (max-width:971px){
    .right{
        display: none;
    }
    .videobig{
        width: 77vw;
    }
    .heading{
        justify-content: center;
    }
}