#bg{
    width: 85vw;
    background-color: #2E2C54;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.heading{
    width: 77vw;
    background-color: #393760;
    height: 10vh;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center

}
.heading .title{
    width: 35vw;
    background-color: #4D4B70;
    color: white;
    height: 7vh;
    margin: 5px 5px ;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    font-size: 25px;
}
.circle {
    background-color: red;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    margin: 4px 9px;
}
.heading .time{
    width: 9vw;
    background-color: #4D4B70;
    color: rgb(238, 238, 238);
    height: 7vh;
    margin: 5px 5px ;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    font-size: 25px;
}
.leave{
    display: flex;
    flex-direction: row;
}
.sendStream{
    width: 9vw;
    background-color: #7a2cae;
    color: rgb(238, 238, 238);
    height: 7vh;
    margin: 5px 5px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    font-size: 21px;
}

.call{
    width: 7vw;
    background-color: #25c005;
    color: rgb(238, 238, 238);
    height: 7vh;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    font-size: 24px;
}
.heading .leave .btn{
    width: 5vw;
    /* background-color: rgb(255, 2, 2); */
    background-color: #cc0707;
    color: rgb(255, 255, 255);
    height: 5vh;
    margin: 5px 5px ;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
    /* border: 1px solid black; */
    font-size: 16px;
}
.body{
    display: flex;
    flex-direction: row;
}
.videobig {
    width: 50vw;
    height:81vh;
    position: relative;
    background-color: #393760;
    margin: 20px 0px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}
.userCam{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0;
    border-radius: 20px;
}
.vid{
    border-radius: 20px;
}
.videosmall {
    width: 10vw;
    height: 16vh;
    background-color: rgb(11, 23, 48);
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;
    z-index: 2;
    position: absolute;
    border: 2px solid black;
    overflow: hidden;
}
.sound img{
    width: 3vw;
    height: 7vh;
    margin: 5px 10px;
    border-radius: 54px;
}
.subtitle {
    width: 53vw;
    background-color: #393760;
    height: 10vh;

    border-radius: 20px;
    display: flex;
    align-items: center;
}
.text{
    margin-left: 12px;
    margin-right: 12px;
    color: white;
    font-weight: bold;
    color: white;
    font-size: 18px;
}
.right {
    width: 23vw;
    height: 81vh;
    background-color: #393760;
    margin-top: 20px;
    margin-left: 18px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right .head {
    font-size: 20px;
    color: white;
    height: 3vh;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 12px;
    display: none;      /* chatbox head gone*/
}
.oldchat {
    width: 21vw;
    height: 69vh;
    border-radius: 21px;
    margin-top: 14px;
}
.oldchat img{
    width: 100%;
    height: 100%;
}
.curr_chat {
    margin-top: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    background-color: #2E2C54;
    border-radius: 14px;
}
.curr_chat input {
    width: 18vw;
    height: 7vh;
    border-radius: 10px;
    padding: 1px 8px;
    background-color: #2E2C54;
    color: white;
    font-size: 17px;
    margin: 2px;
}
.send{
    display: contents;
}
.curr_chat img{
    width: 2.5vw;
    height: 6vh;
    border-radius: 7px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* media queries */
@media screen and (max-width:971px){
    .right{
        display: none;
    }
    .videobig{
        width: 77vw;
    }
    .heading{
        justify-content: center;
    }
}